@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/Poppins-Bold.ttf);
}
* {
  font-family: Poppins, serif, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background: #212529;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  padding: 0 50px;
}
.navbar h2 {
  color: #ffb742;
  font-weight: 600;
}
.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li:last-child {
  margin: 0;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin-right: 25px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.navbar ul li a:hover {
  color: #ffb742;
}
.navbar .hire-btn {
  background: #ffb742;
  padding: 6px 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.navbar .hire-btn:hover {
  background: #fb8c00;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 640px;
}
.main h4 {
  font-size: 32px;
  color: #fff;
  font-weight: 600;
}
.main h4 span {
  color: #ffb742;
  text-decoration: underline;
}
.main .title {
  font-size: 44px;
  font-weight: 600;
  color: #fff;
  margin-top: 8px;
}
.main .sub-title {
  font-size: 16px;
  color: #ccc;
  margin-top: 20px;
}
.main img {
  width: 200px;
  height: 200px;
  margin-top: 100px;
}

.guarantee {
  margin-top: 50px;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 24px;
}
.guarantee .item {
  background-color: #292b2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100%;
  border-radius: 10px;
  padding: 0 30px;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.guarantee .item:hover {
  border-color: #ffb742;
}
.guarantee .item:hover .icon {
  background-color: #ffb742;
}
.guarantee .item:hover > i {
  color: #ffb742;
}
.guarantee .item .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.guarantee .item .icon i {
  font-size: 30px;
}
.guarantee .item .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.guarantee .item .info h3 {
  color: #ffb742;
  font-size: 28px;
}
.guarantee .item .info p {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
.guarantee .item > i {
  color: #fff;
  font-size: 30px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.seprator {
  margin: 50px 50px 30px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.08);
  display: inline-block;
  color: #ffb742;
  border-radius: 12px;
  font-size: 1rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-betwenn;
      -ms-flex-pack: space-betwenn;
          justify-content: space-betwenn;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
  padding: 0 50px;
}
.about img {
  width: 280px;
}
.about .info h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .info p {
  color: #ccc;
  font-size: 14px;
}
.about .info button {
  background: #ffb742;
  padding: 6px 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}
.about .info button:hover {
  background: #fb8c00;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 50px;
}
.skills .left {
  width: 680px;
}
.skills .left .info h3 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 20px;
}
.skills .left .info p {
  color: #ccc;
  font-size: 14px;
}
.skills .left button {
  background: #ffb742;
  padding: 6px 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}
.skills .left button:hover {
  background: #fb8c00;
}
.skills .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 420px;
  height: 120px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
}
.skills .right .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #383e45;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.skills .right .item:hover {
  background: #ffb742;
}
.skills .right .item i {
  font-size: 34px;
  color: #fff;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */