.about {
    display: flex;
    justify-content: space-betwenn;
    align-items: center;
    gap: 80px;
    padding: 0 50px;

    img {
        width: 280px;
    }

    .info {

        h3 {
            color: $white;
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        p {
            color: $grey;
            font-size: 14px;
        }

        button {
            @include btn;
            margin-top: 30px;
        }
    }

}