.guarantee {
    margin-top: 50px;
    padding: 0 50px;
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;

    @media screen and (max-width: 1100px) {
        flex-wrap: wrap;
        gap: 10px;
    }

    .item {
        background-color: #292b2e;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        width: 100%;
        border-radius: 10px;
        padding: 0 30px;
        border: 1px solid transparent;
        cursor: pointer;
        transition: all .3s ease;

        &:hover {
            border-color: $yellow;
        }

        &:hover .icon {
            background-color: $yellow;
        }

        &:hover >i {
            color: $yellow;
        }

        @media screen and (max-width: 1100px) {
            flex-basis: 49%;
        }

        .icon {
            @include childCenter;
            background: $white;
            border-radius: 50%;
            width: 46px;
            height: 46px;
            transition: background-color .3s ease;

            @media screen and (max-width: 750px) {
                display: none;
            }

            i {
                font-size: 30px;
            }

        }

        .info {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                color: $yellow;
                font-size: 28px;
            }

            p {
                color: $white;
                font-size: 15px;
                font-weight: 600;

            }

        }

        >i {
            color: $white;
            font-size: 30px;
            transition: color .3s ease;

        }

    }
}