.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;

    @media screen and (max-width: 790px) {
        flex-direction: column;
    }

    h2 {
        color: $yellow;
        font-weight: 600;
    }

    ul {
        display: flex;

        li {
            list-style: none;

            &:last-child {
                margin: 0;
            }

            a {
                text-decoration: none;
                color: $white;
                font-size: 16px;
                margin-right: 25px;
                transition: color 0.3s ease;

                &:hover {
                    color: $yellow;
                }

            }
        }
    }

    button {
        @include btn;

      @media screen and (max-width: 1015px) {
        display: none;
      }
    }
}