.seprator {
    margin: 50px 50px 30px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.08);
    display: inline-block;
    color: $yellow;
    border-radius: 12px;
    font-size: 1rem;
}